body {
  padding: 50px;
  padding-top: 50px;
  font-family: 'Signika', sans-serif;
  font: 14px;
}



a {
  color: #00B7FF;
}

.main-content{
  padding-top: 50px;
  padding-bottom: 25px;
  border-radius: 3px;
  background: url('https://s-media-cache-ak0.pinimg.com/originals/92/75/c5/9275c5e3be4e4c47fe108b2992eb978f.jpg');
}

.newPostPage{
  color: #52A3CC;
}

.full-height{
  height: 100vh;
  color:black;
}

.nav-buttons{
  margin-left: 100px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#pad{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid black;
}

#markdown {
    overflow: auto;
    border-left: 1px solid black;
    border-top: 1px solid black;
    background : white;
}
